/* =============================================================================
   Body and structure
   ========================================================================== */

body {
  position: relative;
  padding-top: 40px;
  background-color: #fff;
  background-repeat: repeat-x;
  background-position: 0 40px;
  padding-bottom: 40px;
}

.content {
  padding: 20px;
  margin: 20px -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.75);
  -moz-box-shadow: 0 0px 0px rgba(0,0,0,.75);
  box-shadow: 0px 0px 2px 0.5px #456fed;
}

#sidebar {
  margin-left: 5px;
  padding-left: 15px;
  border-left: 1px solid #e0e0e0;
  font-size: 0.9em;
}

/* =============================================================================
   navbar
   ========================================================================== */

.navbar-brand {
  background-image: url(/img/未标题-1.png);
  background-repeat: no-repeat;
  background-position: left 0em top 0.1em;
  background-size: 140px;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}

.navbar-brand:hover {
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}


/* =============================================================================
   pagination
   ========================================================================== */

.pagination {
  margin: 10px 0;
}

.pagination a{
  color:#555;
}



/* =============================================================================
   List
   ========================================================================== */

li i {
  margin-right: 5px;
  margin-left: 5px;
}

.listing-item {
  line-height: 24px;
}


/* =============================================================================
   widget and tag box
   ========================================================================== */

.meta-widget {
  margin: 0px 0;
  font-size: 16px;
}

.meta-widget a{
  color:#555;
}

.tag_box {
  margin:0;
  overflow:hidden;
}
.tag_box li {
  line-height:28px;
}
.tag_box li i {
  opacity:0.9;
}
.tag_box.inline li {
  float:left;
}
.tag_box a {
  padding: 2px 6px;
  margin: 2px;
  background: #e5e5e5;
  color:#555;
  border-radius: 3px;
  text-decoration:none;
  border:1px dashed #bbb;
  font-size: 16px;
}
.tag_box a span{
  vertical-align:super;
  font-size:0.8em;
}
.tag_box a:hover {
  background-color:#397bdd;
  color:#FFF;
}
.tag_box a.active {
  background:#57A957;
  border:1px solid #4C964D;
  color:#FFF;
}

.widget {
  padding-bottom: 25px;
  border-bottom: 1px solid #e0e0e0;
}

.tagcloud .entry{
  width: 100%;
}

.archive-title:before {
  font-family: FontAwesome;
  content: '\f187  ';
  font-family: Arial;
  content: '';
}

.archive-title-tag:before {
  font-family: FontAwesome;
  content: '\f02c  ';
}

.archive-title-category:before {
  font-family: FontAwesome;
  content: '\f07b  ';
}

/* =============================================================================
   img
   ========================================================================== */

img {
  max-width: 100%;
  /*margin: 15px auto;
  display: block;
  width: auto;
  height: auto;*/
}


/* =============================================================================
   slogan
   ========================================================================== */

.slogan .icon-heart{
  opacity: 0.5;
  margin-right: 5px;
  margin-top: 3px;
}

.slogan .icon-heart:hover{
  opacity: 1;
}

.slogan{
  font-size: 1.2em;
  color: #888;
  display:block;
  margin-bottom: 1em;
}


/* =============================================================================
   scroll to top
   ========================================================================== */

#gotop{
  display:block;
  width:36px;
  height:36px;
  position:fixed;
  bottom:40px;
  right:30px;
  border-radius:7px;
  text-decoration:none;
  display:none;
  background-color:#999999;
}
#gotop span{
  display:block;
  color:#dddddd;
}
#gotop span:hover{
  color:#cccccc;
}
#gotop span{
  font-size:24px;
  text-align:center;
}


/* =============================================================================
   Headers
   ========================================================================== */

h1,h2,h3,h4,h5,h6 {
  text-rendering:optimizelegibility;
  font-weight:bold;
}

.page h3.title {
  position:relative;
/*  padding: 2px 5px 5px 5px;
  border-top:1px solid #ccc;
  font-size: 1.9em;
  font-weight: normal;
  background-color: #e5e5e5;
  border-radius:3px; */
}

.page h3.title span.date {
  position:absolute;
  right:5px;
  font-size:0.7em;
/*  color: #777; */
}

/* =============================================================================
   page, post
   ========================================================================== */

.post{
  font-size: 18px;
}

.page{
  font-size: 18px;
}

.page, .post{
  line-height: 1.6em;
  text-align: justify;
  margin-left: 1em;
  margin-right: 1em;
}



.page .more {
  text-pull: right;
}

.post .date {
  margin-bottom:20px;
  font-weight:bold;
}


/* =============================================================================
   Archives list
   ========================================================================== */

.archive-ul > .caret {
  vertical-align: 7px;
  margin-left: 5px;
  opacity: 0.3;
}

.archive-ul:hover > .caret {
  opacity: 1;
}



/**
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: ""; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}

figcaption {
  display: block;
  text-align: center;
  font-size: 15px;
  color: #666666;
  font-family: "Helvetica","Arial","source han sans tc","source han sans jp", sans-serif;
}

hm {
  /*background-color: rgba(229, 226, 16, 0.742);*/
  background-image: url('/images/hm.png');
  background-position: bottom;
  background-size: auto 30%;
  display: inline;
  /*text-decoration:solid underline yellowgreen 4px;*/
  background-repeat: repeat-x;
  font-family: "Helvetica","Arial","source han sans tc","source han sans jp", sans-serif;
}

.float-item {
  background: #fff;
  width: 187.5px;
  height: 62.7px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 0;
  float: right;
}



.float-img {
  background: #fff;
  width: 187.5px;
  height: 62.7px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 0;
  float: right;
}

iframe {
  overflow-clip-margin: content-box !important;
  overflow: clip !important;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
  width: 100%;
  max-width: 100%;
}

ul.search-result-list {
  padding-left: 10px;
}

a.search-result-title {
  font-weight: bold;
}

p.search-result {
  color: #555;
}

em.search-keyword {
  border-bottom: 1px dashed #4088b8;
  font-weight: bold;
}

.form-control {
  border: 1px solid #1fc198;
}

.card {
  border: 2px solid #ddd;
  width: 400px;
  margin: 10px;
  font-family: Montserrat, sans-serif;
}



.card1 {
  font-family: Montserrat, sans-serif;
  ol {
    list-style: none;
    /*  命名自訂標號變數  */
    counter-reset: my-counter;
  }
  ol li {
  /*  使用自訂標號  */
    counter-increment: my-counter;
  /* 段落首行縮排 */
    text-indent: -1em;
  }
  /* 以偽元素自訂標號樣式 */
  ol li::before {
    content: "("counter(my-counter) ")";
    color: blue;
    font-weight: bold;
  }
}